# dependencies
node_modules
yarn.lock

# logs
npm-debug.log
yarn-error.log

# Nuxt build
.nuxt

# Nuxt generate
dist

# Jest test report
coverage/
.scannerwork/
test-report.xml

# Browser test report
browser-test/report/

# MacOS
.DS_Store